.publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.publications-title{
    position: relative;
}

.publications-title h1{
    padding: 0, 30px;
    font-size: 60px;
    font-weight: 400;
    margin-right: 75px;

}

.publications-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 80px;
    height: 80px;
}

.publications-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px, solid white;
    transition: 0.4s;
    cursor: pointer;
}

.publications-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.publications-format h3{
    font-size: 24px;
    font-weight: 400;    
}

.publications-format h2{
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(270deg, #ffd311 10%, #FA8128 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.publications-format p{
    color: white;
    font-size: 20px;
    line-height: 40px;
    max-width: 300px;
}

.publications-format:hover {
    border: 2px solid #ffd311;
    transform: scale(1.05);
    transition: 0.4s;
}
