.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 80px;
    height: 80px;
}

.about-title h1{
    padding: 0px, 30px;
    font-size: 60px;
    font-weight: 400;
    margin-right: 75px;
}

.about-sections{
    display: flex;
    gap: 80px;
}


.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}



.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}



.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
    gap: 10px;
    transition: 0.5s;
    margin-top: 400px;
}

.about-achievements h1{    
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #ffd311 10%, #FA8128 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about-achievements p{
    font-size: 22px;
    font-weight: 500;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}


.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}

