.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}



.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    font-size: 20px;
}

.nav-connect{
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    background: linear-gradient(267deg, #ffa500 0.36%, #FA8128);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

.nav-connect:hover{
 transform: scale(1.05);   
}

.logo{
    margin: 10px 60px;
    height: 80px;
    width: 80px;
}